<h1>Add Course</h1>
<form action="/course/view-all" class="form-group" method="post">
  <label for="course-name">Name:</label>
  <input type="text" name="course-name" class="form-control"><br>
  <label for="course-number">Number:</label>
  <input type="text" name="course-number" class="form-control"><br>
  <button type="submit" class="btn btn-info" name="button">Add</button>
</form>
