<h1>Add Student</h1>

<form action="/student/view-all" method="post">
  <label for="student-name">Name</label>
  <input type="text" name="student-name"><br>
  <label for="enrol-date">Date Enrolled</label>
  <input type="date" name="enrol-date">
  <button type="submit" name="button">Add Student</button>
</form>

<a href="/student/view-all">View Student List</a>
