<h1>University Registrar</h1>

<a href="/student/add">Add Student</a><br>
<a href="/student/view-all">View Student List</a><br>
<a href="/course/add">Add Course</a><br>
<a href="/course/view-all">View Course List</a>
